* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    cursor: pointer; // sometimes there is missing href attribute
    text-decoration: none;
    color: #555;
}
a.disabled {
    cursor: default !important;
}
body {
    font: 12px Arial,Helvetica,sans-serif;
    margin: 0;
    min-width: 320px;
}

.hidden {
    display: none !important;
}

.clearfix {
    clear: both;
    content: "";
    display: block;
}
.field-required::after {
    content: "*";
    font-size: 0.8em;
    display: inline-block;
    color: red;
}